#app-container {
  height: 100vh;
}

#side-bar {
  background-color: white;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.05);
}

#side-bar .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.side-bar-button {
  width: 48px !important;
  height: 48px !important;
  margin: 12px 0 0 12px;
}

#menu-button {
  margin-bottom: 12px;
}

#application-steps {
  background-color: white;
  width: 100%;
  padding: 15px 20px;
  margin: 40px 0;
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.glass-layout {
  background-color: transparent;
}

#profile-button {
  margin-bottom: 12px;
}

#profile-button .profile-avatar {
  background-color: blue;
  color: white;
}

#main-content {
  overflow-y: scroll;
  background-color: white;
}

.question-card {
  margin: 0 0 50px 70px;
  width: 595px;
}

.question-card .ant-card-head {
  background-color: #D0F7FA;
  font-size: 20px;
}

.cover-image {
  aspect-ratio: 16/9;
  width: 100%;
}

.no-pad .ant-card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
}

.cover-image-delete {
  color: #A80000 !important;
  width: fit-content;
  margin: 10px;
  width: calc( 100% - 20px );
}

.question-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 114%;
  font-weight: 600;
}

.question-text span {
  font-weight: 100;
  font-size: 12px;
  margin-left: 2px;
}

.show-or-hide {
  width: 35px;
  display: block;
}

.question-layout {
  background: white;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-question-button {
  font-weight: 500;
}

.hidden-divider {
  opacity: 0;
}

.ant-divider.small {
  margin: 16px 0;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  border-color: rgb(111, 111, 111);
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}

.input.choice {
  border-color: rgb(167, 167, 167);
}

.success-button {
  background-color: #087B2F !important;
}

.success-button:hover {
  background-color: #1d9d48 !important;
}

ul.ant-dropdown-menu {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 5px !important;
}

li.ant-dropdown-menu-item-selected {
  background-color: #9C4DE2 !important;
  color: white !important;
}

li.ant-dropdown-menu-item {
  border-radius: 0 !important;
}

.dropdown-input, .dropdown-input > input {
  cursor: pointer !important;
}